<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-fw fa-user"></i>
        <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li>
            <a href="#">
                <i class="fa fa-user fa-fw"></i> 用户资料
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-gear fa-fw"></i> 设置
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <a href="/loginOut">
                    <i class="fa fa-sign-out fa-fw"></i> 退出
                </a>
            </a>
        </li>
    </ul>
</li>