<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <link rel="stylesheet" href="/public/plugins/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/public/plugins/metisMenu/dist/metisMenu.css"/>
    <!--<link rel="stylesheet" href="/public/css/public.css"/>-->
    <link rel="stylesheet" href="/public/css/login.css"/>
    <link rel="stylesheet" href="/public/plugins/font-awesome/css/font-awesome.css"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/public/plugins/jquery/dist/jquery.js"></script>
    <script src="/public/plugins/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/public/plugins/metisMenu/dist/metisMenu.js"></script>
    <script src="/public/js/public.js"></script>
</head>
<body>
    {{{body}}}

    {{>alert}}
</body>
</html>